In [58]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time
import pandas as pd

In [59]:
driver = webdriver.Chrome()

In [60]:
driver.get("https://www.la-salat.com/mosquees")

In [11]:
y = driver.find_elements(By.TAG_NAME,'a')

In [23]:
liste_lien = []

In [24]:
for i in range(8,102):
    liste_lien.append(y[i].get_attribute("href"))

In [26]:
driver.get(liste_lien[0])

In [34]:
z = driver.find_elements(By.TAG_NAME,'td')

In [43]:
liste_commune = []

In [45]:
for i in liste_lien:
    driver.get(i)
    z = driver.find_elements(By.TAG_NAME,'td')
    variable = 3
    for loop in range(100):
        try:
            liste_commune.append(z[variable].text)
            variable += 5
        except:
            pass

In [47]:
liste_commune

1443

In [49]:
df = pd.DataFrame(liste_commune, columns=["code_postal"])

In [52]:
df["nombre_par_commune"] = 1

In [55]:
df = df.groupby(by="code_postal").count().reset_index()

In [56]:
df

    code_postal  nombre_par_commune
0         01130                   2
1         01170                   1
2         01200                   1
3         01500                   1
4         02000                   2
..          ...                 ...
839       95490                   1
840       95500                   1
841       95550                   1
842       95610                   1
843       95800                   1

[844 rows x 2 columns]

In [57]:
df.to_csv('Mosquée_par_commune.csv', index=False, sep=";")